$htmlBg: #f0f2f5;

// font color
$mainFontColor: #8F8E94;
$primaryColor: #a9d040;
$redColor: #ff6100;

// font size
$fontSize: 24px;
$mainFontSize: 36px;
$subFontSize: 28px;
$button-font-size: 32px;

// background
$mainbgColor: #F0F2F5;
$primaryBgColor: #a9d040;
